<!DOCTYPE html>
<html lang="ja">
<head>
	<meta charset="UTF-8">
	<title>確認</title>
		<link rel="stylesheet" href="check.css">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
		<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-136257018-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-136257018-1');
</script>

</head>
<body>
<div class="contents">
<h1>確認</h1>
<h2>メールアドレス</h2>
<h3><%= @email %></h3>
<h2>送る時間</h2>
<!--<h3></h3>-->
<h3><%= @date %>&nbsp;&nbsp;<%= @time %></h3>
<h2>件名</h2>
<h3><%= @subject %></h3>
<h2>メッセージ</h2>
<h3><%= @message.gsub(/\r\n|\r|\n/, "<br/>") %></h3><br><br>
<h3><%= Date.today.strftime("%Y-%m-%d") %>&nbsp;&nbsp;<%= Time.now.strftime("%H:%M") %></h3>
<h2>差出人名</h2>
<h3><%= @from %></h3>
<form action="/after" method=post>
	<input type="submit" value="送信" class="send">
	<input type="hidden" value="<%= @email %>" name="email">
	<input type="hidden" value="<%= @time %>" name="time">
	<input type="hidden" value="<%= @date %>" name="date">
	<input type="hidden" value="<%= @subject %>&nbsp;&nbsp;/<%= @from %>さんより" name="subject">
	<input type="hidden" value= "<%= @message.gsub(/\r\n|\r|\n/, "<br/>") %><br><br><%= DateTime.now.strftime("%Y-%m-%d-%H-%M") %>&nbsp;&nbsp;" name="message">
	<input type="hidden" value= "<%= @from %>" name="from">
</form>
<form action="/form" method=post>
	<input type="submit" value="編集" class="edit">
	<input type="hidden" value="<%= @email %>" name="email">
	<input type="hidden" value="<%= @time %>" name="time">
	<input type="hidden" value="<%= @date %>" name="date">
	<input type="hidden" value="<%= @subject %>&nbsp;&nbsp;/<%= @from %>さんより" name="subject">
	<input type="hidden" value= "<%= @message.gsub(/\r\n|\r|\n/, "<br/>") %>" name="message">
	<input type="hidden" value= "<%= @from %>" name="from">
</form>
</div>
</body>
</html>
