<!DOCTYPE html>
<html lang="ja">
<head>
	<meta charset="UTF-8">
	<title>確認</title>
		<link rel="stylesheet" href="check.css">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
		<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-136257018-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-136257018-1');
</script>

</head>
<body>
<div class="contents">
<h1>確認</h1>
<h2>メールアドレス</h2>
<h3><%= @email %></h3>
<h2>送る時間</h2>
<h3><%= @time %></h3>
<h2>件名</h2>
<h3><%= @subject %></h3>
<h2>メッセージ</h2>
<h3><%= @message %></h3>
<form action="/after" method=post>
	<input type="submit" value="送信" class="send">
	<input type="hidden" value="<%= @email %>" name="email">
	<input type="hidden" value="<%= @time %>" name="time">
	<input type="hidden" value="<%= @subject %>" name="subject">
	<input type="hidden" value= "<%= @message %>" name="message">
</form>
</div>
</body>
</html>
